Source: bmap-tools
Maintainer: Artem Bityutskiy <artem.bityutskiy@linux.intel.com>
Section: utils
Priority: optional
Build-Depends: debhelper (>= 9),
               python3-all (>= 3.6),
               python3-setuptools,
               python3-defusedxml,
               python3-setuptools-scm-git-archive,
Standards-Version: 3.8.4
XS-Python-Version: >= 3.6

Package: bmap-tools
Architecture: all
Depends: python3 (>=3.6),
         python3-gpgme,
         ${misc:Depends},
         ${python:Depends},
         libgpgme-dev,
         bzip2,
         pbzip2,
         gzip,
         pigz,
         lzop,
         liblz4-tool,
         xz-utils,
         tar,
         unzip,
         zstd
Description: Tools to generate block map (AKA bmap) and flash images using
 bmap. Bmaptool is a generic tool for creating the block map (bmap) for a file,
 and copying files using the block map. The idea is that large file containing
 unused blocks, like raw system image files, can be copied or flashed a lot
 faster with bmaptool than with traditional tools like "dd" or "cp". See
 source.tizen.org/documentation/reference/bmaptool for more information.
